$primary-red-color: #d41443;
$primary-white-color: #ffffff;
$background-white-color: #e5e5e5;
$background-light-pink-color: #fff5f6;
$background-dark-pink-color: #ffb8ca;
$decoration-pink-color: #ffa5ba;
$decoration-brown-color: #f0d1a5;
$decoration-green-color: #c2e297;
$primary-text-color: #000000;
$button-hover-color-red: #c7133e;
$button-hover-color-lite: #ecebeb;
