$primary-font: DM Sans, sans-serif;
$secondary-font: Titan One, cursive;

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $primary-font;
  font-style: normal;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding: 0 15px;
  /*outline: 1px solid red;*/
  margin: 0 auto;
  max-width: 320px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 730px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1080px;
  }
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.overflow-hidden {
  overflow: hidden;
}
