/* BASE */
@import './base/colors';
@import './base/common';

/* COMPONENTS */
@import './components/button';
@import './components/section';
@import './components/modal-form';
@import './components/form';
@import './components/modal-location';
@import './components/video';

/* LAYOUT */
@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer_reviews';
@import './layout/contacts';
@import './layout/footer';
