/* BASE */
@import './base/colors';
@import './base/common';

/* COMPONENTS */
@import './components/button';
@import './components/section';

/* LAYOUT */
@import './layout/header_hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer_reviews';
@import './layout/contacts';
@import './layout/footer';
