
<section class="advanteges section" id="our-products">
    <h2 class="visually-hidden"> Ours advantegers </h2>
    <div class="container">
        <h2 class="visually-hidden">Ours advantegers</h2>
        <ul class="advantegers__list">
            <li class="advanteges__item">
                <p class="advantegers__number">721</p>
                <p class="advantegers__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advanteges__item">
                <p class="advantegers__number">16kg</p>
                <p class="advantegers__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advanteges__item">
                <p class="advantegers__number">84</p>
                <p class="advantegers__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>