<section class="section contacts">
  <div class="contacts container">
    <h2 class="visually-hidden">Контакты</h2>
    <ul>
      <li>
        <div>
          <p>CAFE</p>
        </div>
        <h3>Chicago</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
        <a href="">+61(0) 383 766 284</a>
        <a href="">noreply@envato.com</a>
      </li>
      <li>
        <div>
          <p>FOODTRUCK</p>
        </div>
        <h3>Los Angeles</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
        <a href="">+61(0) 383 766 284</a>
        <a href="">noreply@envato.com</a>
      </li>
      <li>
        <div>
          <p>CAFE</p>
        </div>
        <h3>New York</h3>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
        <a href="">+61(0) 383 766 284</a>
        <a href="">noreply@envato.com</a>
      </li>
    </ul>
    <div>
      <button>Our Locations</button>
      <button>Franchise</button>
    </div>
  </div>
</section>
