<section class="section section-container" id="contacts">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Контакты</h2>
    <ul class="list contact-list">
      <li class="contact-list__item">
        <div class="contact-list__agency-wraper cafe">
          <p class="contact-list__agency">CAFE</p>
        </div>
        <h3 class="contact-list__city">Chicago</h3>
        <p class="contact-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__schedule">Monday - Friday</p>
        <p class="contact-list__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
        <p class="contact-list__schedule">Saturday - Sunday</p>
        <p class="contact-list__time-saturday"><time>08:00</time> AM - <time>16:00</time> PM</p>
        <a class="contact-list__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="list contact-list__item">
        <div class="contact-list__agency-wraper foodstruck">
          <p class="contact-list__agency">FOODTRUCK</p>
        </div>
        <h3 class="contact-list__city">Los Angeles</h3>
        <p class="contact-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__schedule">Monday - Friday</p>
        <p class="contact-list__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
        <p class="contact-list__schedule">Saturday - Sunday</p>
        <p class="contact-list__time-saturday"> <time>08:00</time> AM - <time>16:00</time> PM</p>
        <a class="contact-list__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="list contact-list__item">
        <div class="contact-list__agency-wraper cafe">
          <p class="contact-list__agency">CAFE</p>
        </div>
        <h3 class="contact-list__city">New York</h3>
        <p class="contact-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contact-list__schedule">Monday - Friday</p>
        <p class="contact-list__time">06:00 AM - 10:00 PM</p>
        <p class="contact-list__schedule">Saturday - Sunday</p>
        <p class="contact-list__time-saturday">08:00 AM - 16:00 PM</p>
        <a class="contact-list__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div>
            <button type="button" class="button button--accent contacts-button" data-location-open>Our Locations
          <svg class="button__icon " width="20" height="20">
              <use href="./images/icons/sprite.svg#angle"></use>
          </svg>
      </button>

            <button type="button" class="button button--white card__button contacts-button" data-modal-open>
          Franchise
          <svg class="button__icon" width="20" height="20">
              <use href="./images/icons/sprite.svg#angle"></use>
          </svg>
      </button>

      
          </div>
        </div>
      </section>
