<section class="section-reviews">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="reviews swiper-slide">
                    <picture>
                        <source media="(max-width: 767px)" srcset="
                ./images/customer_reviews/person1.webp 85w,
                ./images/customer_reviews/person1@2x.webp 170w
              " sizes="(min-width: 85px) 85px" type="image/webp" />
                        <img src="./images/customer_reviews/person1.jpg" alt="Emily" />
                    </picture>
                    <div class="reviews__comment">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="reviews__points"></span>
                    <p class="reviews__person">Emily, Los Angeles</p>
                </div>
                <div class="reviews swiper-slide">
                    <picture>
                        <source media="(max-width: 767px)" srcset="
                ./images/customer_reviews/person2.webp 85w,
                ./images/customer_reviews/person2@2x.webp 170w
              " sizes="(min-width: 85px) 85px" type="image/webp" />
                        <img src="./images/customer_reviews/person2.jpg" alt="Emily" />
                    </picture>
                    <div class="reviews__comment">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="reviews__points"></span>
                    <p class="reviews__person">Emily, Los Angeles</p>
                </div>
                <div class="reviews swiper-slide">
                    <picture>
                        <source media="(max-width: 767px)" srcset="
                ./images/customer_reviews/person3.webp 85w,
                ./images/customer_reviews/person3@2x.webp 170w
              " sizes="(min-width: 85px) 85px" type="image/webp" />
                        <img src="./images/customer_reviews/person3.jpg" alt="Emily" />
                    </picture>
                    <div class="reviews__comment">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="reviews__points"></span>
                    <p class="reviews__person">Emily, Los Angeles</p>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination--custom"></div>
        </div>
    </div>
</section>