<div class="container footer__container">
        <div class="footer__content footer__content--text">
            <p class="section__pre-title  footer__text--pink">homemade ice cream made</p>
            <p class="section__title  footer__text--accent_color">with passion</p>
        </div>
        <div class="footer__content footer__content--right">
            <div class="footer__networks">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link footer__link--network">
                            <svg class="footer__svg" width="34" height="34">
                                <use href="./images/icons/sprite.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link footer__link--network">
                            <svg class="footer__svg" width="34" height="34">
                                <use href="./images/icons/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link footer__link--network">
                            <svg class="footer__svg" width="34" height="34">
                                <use href="./images/icons/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer__contact">
                Feel free to contact
                <a href="tel:+610383766284" class="footer__tel">+61 (0) 383 766 284</a>
            </p>
        </div>
         
</div>
<div class="bottom">
    <p class="bottom__text">
        &#169; 2019 - IceCream.
    </p>
    <p class="bottom__text">
        All Rights Reserved.
    </p>
</div>
