<section class="section gallery">
  <h2 class="visually-hidden"> Photo gallery</h2>
  <div class="container">
  <div class="gallery__grid">
    <div class="gallery__item gallery__item--1">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/1.webp"
                  type="image/webp" />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/1.jpg          
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img1.jpg"
           />
        <img class="gallery__img" src="#" alt="Фисташковое мороженное" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--2">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/2.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/2.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img2.jpg"
         />
        <img class="gallery__img" src="#" alt="Розовое мороженное в руке" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--3">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/7.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/7.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img3.jpg"
          />
        <img class="gallery__img" src="#" alt="Малиновое мороженное в малине" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--4">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/3.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/3.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img4.jpg"
          />
        <img class="gallery__img" src="#" alt="Мороженное в ягодах и цветах" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--5">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/4.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/4.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img6.jpg"
          />
        <img class="gallery__img" src="#" alt="Фруктовый десерт в тарелке" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--6">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/5.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/5.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img8.jpg"
           />
        <img class="gallery__img" src="#" alt="Собака ест мороженное" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--7">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/6.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/6.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img10.jpg"
           />
        <img class="gallery__img" src="#" alt="десерт" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--8">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/8.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/8.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img5.jpg"
           />
        <img class="gallery__img" src="#" alt="Девушка с мороженным" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--9">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/9.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/9.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img7.jpg"
           />
        <img class="gallery__img" src="#" alt="Мороженное в руке на фоне города" />
      </picture>
    </div>
    <div class="gallery__item gallery__item--10">
      <picture>
        <source
                  media="(min-width: 768px)"
                  srcset="./images/gallery/10.webp"
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/gallery/10.jpg               
                  "
                />
        <source media="(min-width: 320px)" srcset="./images/gallery/gallery-img9.jpg"
          />
        <img class="gallery__img" src="#" alt="Напиток в стакане" />
      </picture>
    </в>
  </div>
  </div>
</section>