<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head> -->
<body>
  <header>
    <a href="../index.html" class="logo">
      <picture> </picture>
    </a>
    <button type="button" class="menu-button">
      <svg>
        <use href="./src/images/icons/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="menu">
      <button type="button">Buy now</button>
      <button type="button" class="close-button"></button>
      <nav>
        <ul>
          <li>Home</li>
          <li>About us</li>
          <li>How it’s made?</li>
          <li>Our products</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </header>
</body>
<!-- </html> -->
