<section class="section hero-section" id=home>
  <div class="container hero-container">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          images/header_hero/mobile-ice-cream.webp    1x,
          images/header_hero/mobile-ice-cream@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/header_hero/mobile-ice-cream.png    1x,
          images/header_hero/mobile-ice-cream@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(max-width: 1199px)"
        srcset="
          images/header_hero/tablet-ice-cream.webp    1x,
          images/header_hero/tablet-ice-cream@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        media="(max-width: 1199px)"
        srcset="
          images/header_hero/tablet-ice-cream.png    1x,
          images/header_hero/tablet-ice-cream@2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 1200px)"
        srcset="
          images/header_hero/desktop-ice-cream.webp    1x,
          images/header_hero/desktop-ice-cream@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        media="(min-width: 1200px)"
        srcset="
          images/header_hero/desktop-ice-cream.png    1x,
          images/header_hero/desktop-ice-cream@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="images/header_hero/mobile-ice-cream.png"
        alt="Ice-cream"
        class="hero-section__image--hero"
      />
    </picture>
    <div class="hero-section__content">
      <h1 class="hero-section__title">
        ice cream made with <span class="hero-section__title--red">passion</span>
      </h1>
      <div class="hero-section__buttons">        
          <a class="button button--accent button__hero--red" href="#our-products">Products</a>             
          <a  class="button button--white button__hero--white" href="#how-it’s-made">How it’s made?</a>         
      </div>
    </div>
  </div>
</section>  
