<div class="modal is-hidden" data-location>
    <div class="modal__content modal__location">
        <button type="button" class="modal__button--close" data-location-close>
            <svg class="modal__svg" width="11" height="11">
                <use href="./images/icons/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal__title modal__title--location">Our Locations</p>
        <div class="map" id="map"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.866339946466!2d30.53189501597643!3d50.42496187947178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1suk!2sua!4v1638790827967!5m2!1suk!2sua"
            width="100%" height="450" style="border:3px;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>
            
</div>