.button {
  position: relative;
  outline: none;
  //width: 209px;
  //height: 44px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.313;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 22px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;

  @media screen and (max-width: 300px) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }
  &:hover::before,
  &:focus::before {
    left: 0%;
    right: auto;
    width: 100%;
    opacity: 1;
    transform: translateX(0);
  }

  &::before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    transform: translateX(-100%);
    z-index: -1;
    content: '';
    opacity: 0;
    border-radius: 22px;
    transition: opacity 250ms cubic-bezier(0.42, 0, 0.58, 1),
      transform 350ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  &--white {
    background-color: #ffffff;
    color: $primary-red-color;
    &::before {
      background-color: #ecebeb;
    }
  }

  &--accent {
    background-color: #d41443;
    color: #ffffff;

    &::before {
      background-color: #c7133e;
    }
  }

  &__icon {
    width: 5px;
    height: 10px;
    margin-left: 13px;
  }

  &--white &__icon {
    stroke: #d41443;
  }

  &--accent &__icon {
    stroke: #ffffff;
  }
}
