.section {
  width: 100%;
  //padding-top: 120px;
  //padding-bottom: 95px;

  /*@media screen and (min-width: 1600px) {
    //padding-top: 127px;
    //padding-bottom: 110px;
  }*/
}

.section__pre-title {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;

  text-transform: uppercase;

  color: $decoration-pink-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.section__title {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-transform: uppercase;

  color: $primary-red-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
