@mixin picture__before($pic) {
  .advanteges-item::before {
    content: '';
    position: absolute;
    background-image: $pic;
  }
}

.advanteges {
  background-color: $background-light-pink-color;
}
.advanteges-item {
  &:not(:last-child) {
    margin-bottom: 38px;
  }
  &:nth-child(1) {
    @media screen and (min-device-pixel-ratio: 1),
      (-webkit-min-device-pixel-ratio: 1),
      (min-resolution: 96dpi),
      (min-resolution: 1dppx) {
      @include picture__before('../../../../../../src/images/advantages/apples.png');
      // {
      //   background-image: url(../src/images/advantages/milk.png);
      // }
    }
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @include picture__before(url('D:\Go_IT\team-proj1\src\images\advantages\milk@2x.png'));
      // @include picture__before {
      //   background-image: url(../src/images/advantages/milk@2x.png);
      // }
    }
  }
}

.advantegers__pic {
  margin-bottom: 16px;
}

.advantegers__number {
  color: $primary-red-color;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  // position
  position: relative;
  margin-bottom: 34px;
}

.advantegers__text {
  font-family: $primary-font;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
}
