.advanteges {
  background-color: var($background-light-pink-color);
}
.advanteges-item {
  &:not(:last-child) {
    margin-bottom: 38px;
  }
}

.advantegers__pic {
  margin-bottom: 16px;
}

.advantegers__number {
  color: $primary-red-color;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  // position
  margin-bottom: 34px;
}
.advantegers__text {
  font-family: $primary-font;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
}
