@mixin picture__before($pic, $width) {
  content: '';
  background-image: url($pic);
  width: $width;
  position: absolute;
  top: 0px;
  height: 50px;
}

.advanteges {
  background-color: $background-light-pink-color;
  padding-top: 20px;
  padding-bottom: 48px;
  @media screen and (min-width: 768px) {
    padding-top: 33px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}
.advantegers__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advanteges__item {
  position: relative;
  padding-top: 66px;

  @media screen and (min-width: 230px) and (max-width: 767px) {
    width: 230px;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
  }
  @media screen and (min-width: 1200px) {
    width: 330px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 86px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 90px;
  }

  //отступ между текстом и картинкой
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 38px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 60px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  // картинки для екранов разной плотности
  &:nth-child(1)::before {
    @include picture__before('../images/advantages/milk.png', 33px);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &:nth-child(1)::before {
      @include picture__before('../images/advantages/milk@2x.png', 33px);
      background-size: contain;
    }
  }
  &:nth-child(2)::before {
    @include picture__before('../images/advantages/apples.png', 50px);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &:nth-child(2)::before {
      @include picture__before('../images/advantages/apples@2x.png', 50px);
      background-size: contain;
    }
  }
  &:nth-child(3)::before {
    @include picture__before('../images/advantages/lolipop.png', 44px);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &:nth-child(3)::before {
      @include picture__before('../images/advantages/lolipop@2x.png', 44px);
      background-size: contain;
    }
  }
}

.advantegers__number {
  color: $primary-red-color;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  // position

  @media screen and (max-width: 767px) {
    font-size: 36px;
    line-height: 1.138;
    margin-bottom: 34px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 18px;
  }
}

.advantegers__text {
  font-family: $primary-font;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 700;

  font-size: 12px;
  line-height: 1.66;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
