.section-reviews {
  padding-bottom: 43px;
  padding-top: 80px;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__comment {
  position: relative;
  background-color: $background-gray-color;
  width: 100%;
  padding-top: 43px;
  height: 308px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 29px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    max-width: 620px;
    height: 164px;
    background-color: $background-gray-color-opacity;
  }

  @media screen and (min-width: 1200px) {
    max-width: 926px;
    height: 138px;
    background-color: $background-gray-color;
  }

  &::before {
    position: absolute;
    top: 28px;
    left: 61px;
    content: '';
    width: 54px;
    height: 40px;
    background-image: url('../images/icons/quotes.svg');
    z-index: -1;

    @media screen and (min-width: 768px) {
      top: 30px;
      left: 40px;
    }

    @media screen and (min-width: 1200px) {
      top: 32px;
      left: 50px;
    }
  }
}
.reviews__text {
  max-width: 157px;
  background: repeating-linear-gradient(
    transparent,
    transparent 29px,
    $line-color 10px,
    $line-color 30px
  );
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 460px;
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    max-width: 750px;
    font-size: 16px;
    line-height: 186%;
  }
}
.reviews__person {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
}
.reviews__points {
  margin: 0 auto;
  position: relative;
  display: block;
  background-color: $button-hover-color-red;
  border-radius: 2px;
  padding: 2px;
  font-size: 0;
  margin-bottom: 18px;

  &::before {
    position: absolute;
    content: '';
    display: block;
    background-color: $button-hover-color-red;
    border-radius: 2px;
    font-size: 0;
    padding: 2px;
    top: 0;
    left: -14px;
  }
  &::after {
    position: absolute;
    content: '';
    display: block;
    background-color: $button-hover-color-red;
    border-radius: 2px;
    font-size: 0;
    padding: 2px;
    top: 0;
    left: 14px;
  }
}
// ----------SWIPER-----------
.swiper {
  height: 550px;

  @media screen and (min-width: 768px) {
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    height: 375px;
  }
}
.section-reviews .swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: $button-hover-color-red;
  width: 12px;
  height: 12px;

  &:first-child {
    background-color: transparent;
    background-image: url('../images/icons/home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    fill: $button-hover-color-red;
  }
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}
