.footer {
  background: $background-light-pink-color;

  &__text {
    font-family: $secondary-font;
    font-weight: normal;
  }

  &__text--pink {
    font-size: 18px;
    line-height: 1.17;
    color: $decoration-pink-color;
    margin-bottom: 17px;
  }

  &__text--accent_color {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $primary-red-color;
  }
}

.bottom {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 25px;

  border-top: 1px solid $line-color;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
    padding-top: 29px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  &__text {
    display: flex;
    align-items: baseline;
    font-family: $primary-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: $secondary-text-color;

    @media screen and (min-width: 768px) {
      line-height: 1.86;
      letter-spacing: 0.02em;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
