.modal {
  z-index: 5;
  background-image: url('./../images/modal/ice-cream-modal.jpg');
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $background-dark-pink-color;
  background-image: url('../images/header_hero/desktop-ice-cream.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}
