.products {
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: $primary-white-color;
}

.products__container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

//characteristic

.products__condition {
  // font-family: $secondary-font;
  // font-weight: 400;
  // font-size: 18px;
  line-height: 1.16;
  // text-transform: uppercase;
  margin-bottom: 15px;
  // color: $decoration-pink-color;
  @media screen and (max-width: 290px) {
    font-size: 7vw;
  }
}

//main title
.products__title {
  // color: $primary-red-color;
  // font-family: $secondary-font;
  // font-weight: 400;
  // font-size: 34px;
  line-height: 1.14;
  // letter-spacing: 0.04em;
  // text-transform: uppercase;
  margin-bottom: 144px;
  @media screen and (max-width: 290px) {
    font-size: 12vw;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
  }
}

//products cards
.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 130px;
  background-color: ($background-dark-pink-color);
  border-radius: 24px;
  &:nth-child(2) {
    margin-bottom: 129px;
    background-color: $decoration-brown-color;
  }
  &:last-child {
    margin-bottom: 0px;
    background-color: $decoration-green-color;
  }
  padding-top: 161px;
  padding-bottom: 41px;
  padding-left: 41px;
  padding-right: 39px;
  &:first-child::before {
    position: absolute;
    display: block;
    content: '';
    background-image: url(./../images/products/mobile-ice-cream.png);
    background-size: contain;
    max-width: 249px;
    max-height: 252px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    transform: translate(5%, -45%);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/products/mobile-ice-cream@2x.png);
    }
    @media screen and (max-width: 290px) {
      transform: translate(0, -41%);
    }
  }
  &:nth-child(2):before {
    position: absolute;
    display: block;
    content: '';
    background-image: url(./../images/products/mobile-coffee.png);
    background-size: contain;
    max-width: 249px;
    max-height: 252px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    transform: translate(5%, -45%);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/products/mobile-coffee@2x.png);
    }
    @media screen and (max-width: 290px) {
      transform: translate(0, -41%);
    }
  }
  &:last-child:before {
    position: absolute;
    display: block;
    content: '';
    background-image: url(./../images/products/mobile-milkshake.png);
    background-size: contain;
    max-width: 249px;
    max-height: 252px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    transform: translate(5%, -45%);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/products/mobile-milkshake@2x.png);
    }
    @media screen and (max-width: 290px) {
      transform: translate(0, -41%);
    }
  }
}
// name of products on the card
.products__name {
  position: relative;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 66px;
  @media screen and (max-width: 290px) {
    font-size: 7vw;
  }
}
// description of products on the card
.products__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $primary-white-color;
  margin-bottom: 30px;
  @media screen and (max-width: 290px) {
    font-size: 5vw;
  }
}
.products__button {
  line-height: 0;
  border-radius: 50%;
  border: none;
  // padding: 10px; *better use flex*
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.products__icon {
  width: 10px;
  height: 10px;
  fill: $primary-red-color;
}

// dots
.products__dot {
  display: none;
  @media screen and (min-width: 235px) {
    display: block;
    position: absolute;
    background-color: $primary-white-color;
    border-radius: 5px;
    font-size: 0;
    margin-left: 20px;
    padding: 3px;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 228px) {
      top: 34%;
      left: 40%;
    }
    @media screen and (min-width: 229px) and (max-width: 270px) {
      top: 39%;
    }
  }
  &:before {
    position: absolute;
    content: '';
    background-color: $primary-white-color;
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
    transform: translate(0%, 0%);
    left: -20px;
    top: 0;
  }
  &:after {
    position: absolute;
    left: 20px;
    top: 0;
    content: '';
    background-color: $primary-white-color;
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
    transform: translate(0%, 0%);
  }
}
